_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_Store
Gemfile.lock

# Astro / Node
node_modules/
dist/
.astro/
.astro-check/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pagefind/*
!public/pagefind/
